.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  .container {
    padding: 40px 30px 32px;
    max-width: 380px;
    gap: 20px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__input:last-of-type {
    margin-bottom: 10px;
  }
  &__no-account {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}
