@use '../vendor/fonts/fonts.scss';
@use './variables.scss' as *;

* {
  box-sizing: border-box;
}

.page {
  min-height: 100vh;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: $dark-shade-75;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    margin: 0;
    line-height: 29px;
    margin: 0;
  }

  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    margin: 0;
    line-height: 23px;
    margin: 0;
  }

  h3 {
    font-weight: 700;
    margin: 0;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
  .container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 100%;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    max-width: 1280px;
  }
  &_DARK {
    background-color: $dark-background;
    color: $dark-text;
    .header {
      background-color: $dark-second;
    }
    .container {
      background-color: $dark-second;
      border: 1px solid rgba(0, 0, 0, 0.6);
      box-shadow: none;
    }
    .link {
      color: $dark-text;
    }
    h1 {
      color: $dark-text;
    }

    h2 {
      color: $dark-text;
    }

    h3 {
      color: $dark-text;
    }
    .button {
      &_transparent {
        background: linear-gradient($dark-second, $dark-second) padding-box,
          linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%) border-box;
      }
    }
    .input {
    }
  }
  &_LIGHT {
    .container {
      border: 1px solid rgba(0, 0, 0, 0.12);
    }

    h1 {
      color: $dark-shade-100;
    }

    h2 {
      color: $dark-shade-100;
    }

    h3 {
      color: $dark-shade-100;
    }

    .link {
      color: $dark-shade-50;
      &_active {
        font-weight: 700;
        color: $dark-shade-75;
      }
    }
    .burger {
      &::before,
      &::after,
      & .burger__item {
        background: #000;
      }
    }
    .header__links {
      @media screen and (max-width: 768px) {
        background: #fff;
        border: 2px solid rgba(0, 0, 0, 0.12);
      }
    }
  }
}

.button {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 22px;
  text-decoration: none;
  cursor: pointer;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  outline: 0;
  background-color: transparent;
  border: 0;
  transition: opacity 0.2s linear;
  position: relative;
  &:hover {
    opacity: 0.5;
  }
  &_default {
    background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  }
  &_transparent {
    color: $purple;
    background: linear-gradient(#fff, #fff) padding-box,
      linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%) border-box;
    border: 2px solid transparent;
  }
  &_inactive {
    pointer-events: none;
    cursor: not-allowed;
    background: $dark-shade-25;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__error {
    white-space: pre-wrap;
    margin: 0;
    min-height: min-content;
    color: red;
  }
  &__password-input-container {
    position: relative;
    &::before {
      content: '';
      background-image: url('../images/show.svg');
      background-repeat: no-repeat;
      right: 10px;
      top: 13px;
      background-position: center;
      width: 20px;
      height: 20px;
      position: absolute;
      background-size: contain;
      cursor: pointer;
    }
    &.no-view::before {
      background-image: url('../images/hide.svg');
    }
  }
}

.input {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding: 12px 30px 12px 15px;
  width: 100%;
}

.link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  position: relative;
  &::before {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 1px;
    color: transparent;
    overflow: hidden;
    visibility: hidden;
  }
  &_active {
    font-weight: 700;
    color: $dark-shade-75;
  }
}

.burger {
  width: 40px;
  margin-left: auto;
  &::before,
  &::after,
  & .burger__item {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    border-radius: 3px;
    margin: 7px 0;
    transition: 0.5s;
  }
  &_active {
    &::after {
      transform: translateY(-10px) rotate(-135deg);
    }
    &::before {
      transform: translateY(10px) rotate(135deg);
    }
    div {
      transform: rotateY(180deg) scale(0);
    }
  }
  @media screen and (min-width: 767px) {
    display: none;
  }
}
